body {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  background-image: url("http://i.imgur.com/S6y8Vm2.jpg"); /* Sanity Check! */
  background-size: 100%, 100%;
  /*background-repeat: no-repeat;	*/
}

#titlez {
  margin-top: 20px;
  font-size: 50px;
  text-align: center;
  color: white;
  font-family: 'Audiowide';
  background-color: rgba(0,0,0,0.5);
}

h2 {
	color: white;
	font-family: 'Audiowide';
}

.btn-lg {
	font-family: 'Audiowide';
}